{% extends 'dashboard/base.html' %}
{% block content %}

<div class="glass p-6 rounded-2xl max-w-xl">
<h2 class="text-xl mb-4">Edit Task</h2>

<form method="post" class="space-y-3">
{% csrf_token %}
<input name="title" value="{{task.title}}" class="w-full p-3 bg-black/40 rounded">

<select name="priority" class="w-full p-3 bg-black/40 rounded">
<option>Low</option>
<option>Medium</option>
<option>High</option>
</select>

<button class="bg-blue-600 px-4 py-2 rounded">Save</button>
</form>

</div>

{% endblock %}